
.banner {
    background-image: url(https://images.unsplash.com/photo-1551392505-f4056032826e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.container {
    width: 900px;
    margin: auto;
}

.banner h1 {
    color: white;
}

.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
}

.btn-primary {
    display: inline-block;
    background-color: #E63946;;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}
